*{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}


html{
  scroll-behavior: smooth;
}






header > .container {
	width: 80%
	margin: 0 auto;
}

a{
	text-decoration: none;

}

header{
	
	display: flex;
	justify-content: space-between;
	align-items: center;
	
}



.logo{
float: left;
}

nav{
	float: right;
	font-family: 'Montserrat', sans-serif;
}
 
 nav ul{
 	margin: 0;
 	padding: 0;
 	list-style: none;

 }
nav li{
	display: inline-block;
	margin-left: 70px;
	padding-top: 23px;
}
 nav a{
 	color: white;
 	text-decoration: none;
 	text-transform: uppercase;
 	font-size: 14px;
 }

nav a:hover {
	color: #000;


}


h1{

	font-size: 5em;
	color: white;
	margin: 0;
	padding: 0;
	text-align: center;
	position: relative;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	font-family: 'Merriweather', serif;
}


h1 + p{
	font-size: 1em;
	color: white;
	margin: 0;
	padding: 0;
	text-align: center;
	position: relative;
	top: 70%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	font-family: 'Montserrat', sans-serif;
}







body {
	background: rgb(0,0,0,0.7) url(./pics/dad.jpg);
	background-size: cover;
	background-repeat: no-repeat; 
	background-blend-mode: darken;
}

div > h2{
	font-family: 'Lora', serif;
}


h2 + p{
	font-family: 'Cormorant Garamond', serif;
	font-size: 20px;
	display: block;
}


.mt-3{
	font-family: 'Cormorant Garamond', serif;
		font-size: 20px;
}

#page3 {
	font-family: 'Merriweather', serif;
	font-size: 2em;
}

div > ul{
	display: flex;
	justify-content: center;

}

.smedia li{
	position: relative;
	display: block;
	color: #666;
	font-size: 30px;
	height: 80px;
	width: 80px;
	background: white;
	line-height: 60px;
	border-radius: 50%;
	margin: 0 15px;
	cursor: pointer;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
}


#page4 {
	font-family: 'Merriweather', serif;
	font-size: 1em;
}

p a{
	font-family: 'Montserrat', sans-serif;
	color: white;
}

.pt-3{
	
	font-family: 'Montserrat', sans-serif;
	color: white;
}

